*, *::before, *::after {
    box-sizing: border-box;
}

li {
    list-style-type: none;
    border: blue;
    /* find out how the damn box should look on bootstrap put the stylings HERE  */
}


h1 {
    color: whitesmoke;
    padding: 10px;
}

.main {
    color: black;
    float: right;
    
}

.hide {
    display: none;
}

.container {
    width: 100%;
}

.sidebar {
    float: left;
}

#searchBtn {
        color: whitesmoke;
}

